<!DOCTYPE html>

<head>
<title>Weather</title>
<link rel="icon" href="img/titleicon.png">
<link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img class="portrait"src="img/download.jpeg" alt="">
    </div>
    
    {{>footer}}
</body>